@mixin ratio() {
  position: relative;

  &:before {
    content: "";
    display: block;
    padding-top: 100%;
  }
}

@mixin ratio-element() {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.ratio {
  @include ratio();
}

.ratio__element {
  @include ratio-element();
}

.ratio--4by3 {
  &:before {
    padding-top: 75%;
  }
}

.ratio--16by9 {
  &:before {
    padding-top: 56.25%;
  }
}
